@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(/img/bg.jpg) no-repeat 50% 50%;
    top: 0;
    display: table;
    background-size: contain;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 28%;
}

.content h1 {
    font-family: 'Yantramany', sans-serif;
    font-size: 600%;
    font-weight: 100;
    color: #e1efe9;
    line-height: 78%;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #3a6168;
    text-decoration: none;
    text-transform: uppercase;
    border: solid #3a6168;
    padding: 10px 20px;
    border-radius: 9px;
    transition: all 0.3s;
}

.btn:hover {
    color: #cbdfd6;
    border: 2px solid #cbdfd6;
}

p {
    font-size: 158%;
    line-height: 128%;
    font-family: sans-serif;
}








/*--- Media Queries --*/
@media screen and (max-width: 900px) {
    .content {
        padding-bottom: 30%;
    }
    .content h1 {
        font-size: 450%;
    }
    .btn {
        font-size: 110%;
        padding: 0px 17px;
    }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	
}